// Size
$deviceWidth: 735px;
$changeHeaderButtonWidth: 800px;

// Color
$colorMain: #D15A1C;
$colorWhite: #FFF;
$colorShadow: #c9c9c9;
$colorGray: #f7f7f7;
$colorBlack: #000000;
$colorButton: #FF9966;
$colorSora: #0ac;

//z-index
$positionAbsoluteOverZ: 10;
$toastZ: 5000;
$headerZ: 1000;